<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_main_img"
        android:label="수원대학교 기숙사"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".gradeaddclass"></activity>
        <activity android:name=".before_go_out" />
        <activity android:name=".go_out" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".NoticewriterActivity" />
        <activity android:name=".Gradeclass" />
        <activity android:name=".mainclass" />
        <activity android:name=".Notice" />
        <activity android:name=".FreeActivity" />
        <activity android:name=".FreeSearchActivity" />
        <activity android:name=".NoticeSearch" />
        <activity android:name=".NoticeView" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>